<% include ./partials/header %>

<div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/">Logout</a>
      </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>Please input your information here</h3>
        </div>
        
        <form action="/form" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="form[username]" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="form[email]" placeholder="abc@mno.xyz">
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="form[message]" placeholder="message" rows="5"></textarea>
            </div>
            <button class="btn btn-info">Submit</button>
            <div class="caption">
                <a href="/show" class="btn btn-primary btn-sm">Submitted Messages</a>
            </div>
        </form>
    </div>
</div>

<% include ./partials/footer %>