<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h3>Please input your information here</h3>
        </div>
        
        <form action="/form" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="form[name]" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="form[email]" placeholder="abc@mno.xyz">
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="form[message]" placeholder="message" rows="5"></textarea>
            </div>
            <button class="btn btn-info">Submit</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
    <% forms.forEach(function(form){ %>
        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <a href="/form/<%=form._id%>" class="btn btn-primary btn-sm"><%=form.name%></a>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ./partials/footer %>