<% include ./partials/header %>

<div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/">Logout</a>
      </li>
    </ul>
</div>

<div class="container">
    <% forms.forEach(function(form){ %>
        <div class="caption">
            <h4 class="card-title"><%=form.username%></h4>
        </div>
            <p class="card-text"><%=form.message%></p>
        <% }); %>
        <br>
        <a href="/form" class="btn btn-primary">Back to Form</a>
</div>


<% include ./partials/footer %>

