<% include ./partials/header %>

<div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/">Logout</a>
      </li>
    </ul>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%=form.name%></h4>
            <p class="card-text"><%=form.message%></p>
            <a href="/form" class="btn btn-primary">Back to Form</a>
        </div>
    </div>
</div>


<% include ./partials/footer %>

